body,html{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
.fullscreenmap {
    position: fixed;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 0;
    background: #ddd;
}

.sidebar {
    position:absolute;
    border-right: 1px solid grey;
    width: 50px;
    height: 100%;
    background-color: white;
}


.menu {

    position: absolute;
    top: 10px;
    left: 50px;
    width:300px;
    height:auto;
    background-color:white;
}

.test {
    position: absolute;
    top: 10px;
    right: 10px;
    width:300px;
    height:40px;
    background-color:white;
}
#wrapper {
    height:100%;
    width:100%;
}
.wrapper {
    height:100%;
    width:100%;
}
.search-result {
    list-style-type: none;
    background-color:white;
}

.toptour-header{
    position: absolute;
    top: 10px;
    left: 50px;
    width:300px;
    height:40px;
    background-color:white;

}

.search-container {
    position: absolute;
    top: 10px;
    left: 53px;
    width:300px;
    height:40px;
    background-color:white;
}

.toptour-view {
    background-color:white;
    width:100%;
    height:auto;
    position:absolute;
    bottom:0;
    padding-left:50px;
    max-height:30%;
    overflow-y:auto;
    display: block;
}

.hidden  {
    display:none;
}

.search-container ul {
    padding:0;
}

.search-container li {

}

.search-container li:hover {
    background-color: #efefef;
    cursor:pointer;
}

.list {
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 20px;
    background: #fff;
    width: 400px;
    z-index: 2000;
    border-radius: 4px;
    overflow-y: scroll;
}


/*
.btn {

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
}*/

.btn {
    background-color: #EFEFEF;
    border: 0;
    width: 50px;
    height: 50px;
    display: block;
    font-size: 24px;
    font-weight: 400;
}

.btn:hover {
    cursor:pointer;
    background-color: #FAFAFA;
}